.page {
  /* width: 100%; */
  max-width: 1280px;
  height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: #000000;
  color: #ffffff;
  margin: auto;
  position: relative;
  z-index: 0;
}
